<style>
  pre {
    background-color: rgb(var(--bs-tertiary-bg-rgb));
    border-radius: var(--bs-border-radius-lg);
    border-width: var(--bs-border-width);
    border-style: var(--bs-border-style);
    border-color: var(--bs-border-color);
    padding: 1rem;
  }
</style>
